extends layout

block content
  h1= title
  p 
  div(class="container-fluid")
        div(class="row")
            -
                let Lamp = [
                    {
                        "name": "Arc Lamps",
                        "color": "black" ,
                        "weight": 30
                    },
                    {
                        "name": "Tripod Lamps",
                        "color": "yellow" ,
                        "weight": 25
                    },
                    {
                        "name": "Swing Arm Lamps",
                        "color": "white" ,
                        "weight": 40
                    },                   
                ]
            each v,index in Lamp 
                div(class="col-sm-2" ) #{v.name}
                div(class="col-sm-2" ) #{v.color}
                div(class="col-sm-2" ) #{v.weight}

